<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Simple GanttChart - {{ title }}</title>
	<script src="./static/index.js"></script>

</head>
<body>
	<div class="container">
		<div class="heading">
			<h1>{{ title }}</h1>
		</div>
	</div>
	<div class="gallery">
		<div style="height:100px; width:300px; overflow-y:scroll;">
			<table border="1" width="200" height="100" >
				<tr><td width="100" height="100">
				セル1
				</td><td width="100" height="100">
				<div style="height:100px; width:100px; overflow-x:scroll;">
				セル2
				</div>
				</td></tr>
			</table>
		</div>
		<input type="button" value="OK" onclick="ohayou()">
		
		

		
	</div>
	
	
</body>
</html>