<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Simple GanttChart - {{ title }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></script>
	<script src="{{ url_for('static', filename='ref_ganttchart.js') }}"></script>
	<script src="{{ url_for('static', filename='tasks_data.json.js') }}"></script>
	<script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
	<div class="container">
		<div class="heading">
			<h1>{{ title }}</h1>
			<p>アーティスト用の非常に高速なタスクリストです。</p>
		</div>
	</div>
	<div class="simple_gannt_chart">
		<table class="chart_table">
			<tr>
				<td >
					<div class = "task_list">
						<table class="tasks_table">
							<thead>
								{% set task_header=namespace(item=1) %}
								<tr >
									<th></th>
									{% for key in task_db[0] %}
									<th  id="{{'item%03d' | format(task_header.item)}}">
										{{ key }}
									</th>
									{% set task_header.item = task_header.item + 1 %}
									{% endfor %}
								</tr>
							</thead>
							<tbody>
								{% set task_header_row=namespace(row=1) %}
								{% for elem in task_db %}
								{% set task_header=namespace(item=1) %}
								<tr >
									<td >{{task_header_row.row}}</td>
									{% for key,value in elem.items() %}
									<td id="{{'item%03d' | format(task_header.item)}}">{{ value }}</td>
									{% set task_header.item = task_header.item + 1 %}
									{% endfor %}
									{% set task_header_row.row = task_header_row.row + 1 %}
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</td>

				<td >
					<div class = "gantt_chart_table" >
					<table class="tasks_table">
							<div class='gantt-wrap'>
								<svg id="gantt"></svg>
							</div>
					</table>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<div class="heading">
		<br>
		<h1>Dynamic Task Table</h1>
		<p>編集可能なマネジメント用のタスクリストです。</p>
	</div>
	<table class="chart_table" border="0" height="280" width="800" overflow:auto;>
		<tr>
			<td>
				<div class="task_list" >
					<div class = dynamic_table>
						<table class="d_table">
						</table>
					</div>
				</div>
			</td>
			<td height="280" width="800">
					<div class = "gantt_chart_table_2">
					<table class="tasks_table">
							<div class='gantt-wrap'>
								<svg id="gantt_2"></svg>
							</div>
					</table>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>