<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Simple GanttChart - {{ title }}</title>
	<script src="./static/index.js"></script>

	<link rel="stylesheet" href="./static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.5.0/frappe-gantt.min.js"></script>

</head>
<body>
	<div class="container">
		<div class="heading">
			<h1>{{ title }}</h1>
		</div>
	</div>
	<div class="simple_gannt_chart">
		<table class="chart_table" border="0" height="400" width="800">
			<tr><td height="400" width="800">
				<div style="height:280px; width:400px; overflow-x:scroll;box-shadow: 0px 0px 4px #888">
					<table class=tasks_table>
						<thead>
							<tr>
								{% for key in task_db[0] %}
								<th>
									{{ key }}
								</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for elem in task_db %}
							<tr>
								{% for key,value in elem.items() %}
								<td>{{ value }}</td>
								{% endfor %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</td><td height="400" width="800">
				<div style=" width:400px; ">
					<div class='gantt-wrap'>
						<svg id="gantt"></svg>
					</div>
				</div>
			</td></tr>
		</table>
	</div>
	
	
</body>
</html>