<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Simple GanttChart - {{ title }}</title>

</head>
<body>
	<div class="container">
		<div class="heading">
			<h1>{{ title }}</h1>
		</div>
	</div>
	<div class="gallery">
		<!--
		{% for album in albums %}
		<a href="https://open.spotify.com{{ album.link }}">
			<img src="{{ album.cover }}" alt="{{ album.name }}">
		</a>
		{% endfor %}
		-->
	</div>
	
	
</body>
</html>